$font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


// Palette
$base: #f4f2f2;
$textColor: #333;
$accent: #4845E0;
$tertiary: lighten($accent, 5%);

// Structure
$break: 500px;
